@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts
{
    @Scripts.Render("~/bundles/_AdminLayout")
}

@section Styles
{
    @Styles.Render("~/Content/_AdminLayout")
}

<div class="myBody">Admin Body</div>
